
header {
    background-color: #286B14;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px; 
    top: 15px;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 4px 0;
}

.nav-links {
    display: none;
    flex-direction: column;
    background-color: #286B14;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
}

.nav-links.active {
    display: flex; 
}

.nav-links li {
    list-style: none;
    margin: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}


@media (min-width: 768px) {
    .nav-links {
        display: flex;
        position: static; 
        flex-direction: row;
    }

    .hamburger-menu {
        display: none; 
    }

    .nav-links li {
        margin: 0 10px;
    }
}
